{% extends 'base.html' %} 
{% block content %}    
     <form class = "container" action='/analyze' method = 'get'>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Your Text Here</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="height: 365px;" name = "text"></textarea>
          </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="removepunc", name = "removepunc">
            <label class="form-check-label" for="customswitch1">Remove Punctuations</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="upper"name = "uprcase" >
            <label class="form-check-label" for="customswitch2">Change to UPPERCASE</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="nlr" name = "newlineremover">
            <label class="form-check-label" for="customswitch3">Remove line</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="lower", name = "lwrcase">
          <label class="form-check-label" for="customswitch4">Change to LOWERCASE</label>
      </div>
        <button type="submit" class = "mt-2 btn-dark"> Analyze Now </button>
      </form>

      <script>
        const swtchCap = document.getElementById('upper');
        const swtchLow = document.getElementById('lower');

        swtchCap.addEventListener('click', ()=> {
          if (swtchCap.checked){
            swtchLow.checked = false;
          }
        })

        swtchLow.addEventListener('click', ()=>{
          if (swtchLow.checked){
             swtchCap.checked= false;
          }
        })
      </script>
      {% endblock content %}


      <!--try toggling with the help of javascript after learni-->


    