{% extends 'base.html' %} 
{% block content %}    
     <form class = "container" action='/analyze' method = 'get'>
          <div class="form-group">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Your Text Here</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="height: 365px;" name = "text"></textarea>
          </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="customswitch1", name = "removepunc">
            <label class="form-check-label" for="customswitch1">Remove Punctuations</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="customswitch2", name = "capitalise">
            <label class="form-check-label" for="customswitch2">Change to UPPERCAS</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="customswitch3", name = "newlineremover">
            <label class="form-check-label" for="customswitch3">Remove line</label>
        </div>
        <button type="submit" class = "mt-2 btn-dark"> Analyze Now </button>
      </form>
      {% endblock content %}


    