<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>
<body>
    <h1>Welcome to the text analyzer, Enter your text below</h1>
    <form action='/analyze' method = 'get'>
        <textarea name = 'text' style="width: 763px; height: 278px;"></textarea>
        <div>
            <input type ="checkbox" name = "removepunc"> Remove Punctuations </br>
            <button type="submit"> Analyze Now </button>
        </div>
    </form>
</body>
</html>